:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-light);
}

.box {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  background: var(--color-white);

  form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}
