<div class="box mat-elevation-z5">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        formControlName="username"
        type="email"
        class="form-control"
        id="username"
        aria-describedby="emailHelp"
        placeholder="Enter username"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-4" (click)="onLogin()">
      Login
    </button>
  </form>
</div>


