<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">Finance Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['expenses']" routerLinkActive="active">Expenses</a>
        <a class="nav-item nav-link" [routerLink]="['earnings']" routerLinkActive="active">Earnings</a>
        <a class="nav-item nav-link" [routerLink]="['admin']" routerLinkActive="active">Admin</a>
    </div>
  </div>
</nav>
