<footer>
  <div class="container-fluid bg-black py-3">
      <div class="row">
          <div class="col-md-12 text-center">
              <a [routerLink]="['/']" class="px-2 text-white">
                  <mat-icon>home</mat-icon>
              </a>
              <a href="#" target="_blank" class="px-2 text-white">
                  <mat-icon>facebook</mat-icon>
              </a>
              <a target="_blank" class="px-2 text-white">
                  <mat-icon>mail</mat-icon>
              </a>
          </div>
          <div class="col-md-12 text-center mt-3 text-white">
              <p>Copyright &copy; <span id="year">{{year}}</span> HDM</p>
          </div>
      </div>
  </div>
</footer>