<h1>Earnings</h1>

<table mat-table [dataSource]="earnings" class="mat-elevation-z5" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
    <td mat-cell *matCellDef="let element">{{ element.label }}</td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
    <td mat-cell *matCellDef="let element">{{ element.source }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
    <td mat-cell *matCellDef="let element">{{ element.category.label }}</td>
  </ng-container>

  <ng-container matColumnDef="paymentType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>PaymentType</th>
    <td mat-cell *matCellDef="let element">{{ element.paymentType }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.amount | currency: 'EUR' }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onEdit(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-fab color="primary" class="add-button" (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>
